page-login {
    .divider {
        text-align:center;
    }
    
    .divider hr {
        margin-left:auto;
        margin-right:auto;
        width:40%;
    
    }
    
    .left {
        float:left;
    }
    
    .right {
        float:right;
    }
}
